.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 20px;
  padding: 50px 0 50px 0;
}

.nameInput {
  padding: 0 10px 0 10px;
}

.list ul {
  list-style-type: none;
  padding: 50px;
}

.list li {
  border: solid black;
  width: 40%;
  padding: 10px;
  display: inline-block;
}

.list {
  display: flex;
  text-align: center;
}

.recipeList {
  padding: 30px 10px;

  width: 70%;
  margin: auto;
}

.recipeList h2 {
  font-size: 40px;
}

.tr td {
  display: flex;
  justify-content: space-around;

  margin-top: 1px;
  margin-bottom: 1px;
}

.recipeList h3 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* Home */

.homeHeading {
  position: relative;
  color: #16355a;
  font-size: calc(1em + 20vw);
  font-weight: 900;
  text-shadow: 0 4px 0 #e0e0e0, 0 5px 0 rgb(219, 219, 219),
    0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.para {
  position: relative;
  font-size: calc(1em + 2.5vw);
  font-weight: 700;
  color: aliceblue;
  text-align: center;
}

.greeting {
  color: white;
  position: relative;
  font-size: 30px;
  padding-bottom: 40px;
}

.bg {
  background-image: url("../assets/BlueHome.jpg");
  background-size: cover;

  position: relative;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bg::before {
  content: "";

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(38, 92, 158, 0.4);
}

@media (min-width: 1024px) {
  .greeting {
    font-size: 60px;
  }
} 