.nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background-color: #16355A;

  padding: 25px;
  
}

.nav {
  position: -webkit-sticky;
	position: sticky;
  top: 0;
  z-index: 1;
}

.nav a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.5em;
  font-weight: bold;
}


.menu {
    background: #16355A;
    padding: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  z-index: 1;
}