.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
}


.list ul {
    list-style-type: none;
    padding: 50px;
}

.title {
    width: 12rem;
    height: 2rem;
}

.guide {
    resize: none;
    width: 15rem;
    height: 15rem;
}

.ingredients {
    width: 12rem;
    height: 2rem;
}